@import 'common.scss';

.container {
    .title {
        margin-bottom: 60px;
    }
    .timebar {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 140px;

        li {
            &>input {
                position: absolute;
                z-index: -10;
                display: none;
            }
            label {
                display: inline-block;
                width: 100px;
                height: 37px;
                font-size: 16px;
                padding: 8px 0;
            }
            input:checked+label {
                background-color: $gray;
                color: #fff;
            }
            .option {
                display: none;
            }
            input:checked~div {
                display: flex;
            }

            &.interval {
                display: flex;
                align-items: center;
                gap: 20px;
                .option {
                    color: #000;
                    font-weight: 500;
                    font-size: 16px;

                    input {
                        width: 40px;
                        border: 0;
                        outline: none;
                        border-bottom: 1px solid $gray;
                        margin: 0 20px;
                    }
                }
            }
        }
    }
    .graphs {
        display: flex;
        align-items: center;
        .graph__container {
            flex: 1 1 auto;
            .title {
                margin-bottom: 20px;
                text-align: center;
            }
            .values {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                margin-bottom: 40px;
                .val {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .color {
                        width: 35px;
                        height: 10px;
                    }
                    span {
                        font-weight: 500;
                        font-size: 14px;
                    }
                }
            }
            .graph {
                text-align: center;
                margin-bottom: 40px;
            }
        }
        .line {
            height: 450px;
            width: 1px;
            background-color: $line-color;
            align-self: flex-end;
            // margin-top: 107px;
        }
    }
}