<div class="container">
    <h1 class="title">Доходы и расходы</h1>
    <div class="actions">
        <a href="#/transactions/create" class="btn green">Создать доход</a>
        <a href="#/transactions/edit" class="btn red">Создать расход</a>
    </div>
    <ul class="timebar">
        <li>
            <input name="date" type="radio" id="today" checked>
            <label for="today" class="btn transparent">
                <span >Сегодня</span>
            </label>
        </li>
        <li>
            <input name="date" type="radio" id="week">
            <label for="week" class="btn transparent">
                <span >Неделя</span>
            </label>
        </li>
        <li>
            <input name="date" type="radio" id="month">
            <label for="month" class="btn transparent">
                <span >Месяц</span>
            </label>
        </li>
        <li>
            <input name="date" type="radio" id="year">
            <label for="year" class="btn transparent">
                <span >Год</span>
            </label>
        </li>
        <li>
            <input name="date" type="radio" id="all">
            <label for="all" class="btn transparent">
                <span >Все</span>
            </label>
        </li>
        <li class="interval">
            <input name="date" type="radio" id="interval">
            <label for="interval" class="btn transparent">
                <span >Интервал</span>
            </label>
            <div class="option">
                <span>c</span>
                <input type="text" placeholder="Дата" id="fromDate">
                <span>по</span>
                <input type="text" placeholder="Дата" id="toDate">
            </div>
        </li>
    </ul>
    <div class="table" id="table">
        <div class="table_head">
            <div class="id">№ операции</div>
            <div class="type">Тип</div>
            <div class="category">Категория</div>
            <div class="sum">Сумма</div>
            <div class="date">Дата</div>
            <div class="comment">Комментарий</div>
        </div>
    </div>
</div>

<div class="popup" id="popup" style="display: none;">
    <div class="container">
        <p>Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.</p>
        <div class="popup__actions">
            <button class="btn green" id="btnYes">Да, удалить</button>
            <button class="btn red" id="btnNo">Не удалять</button>
        </div>
    </div>
</div>

